@CHARSET "UTF-8";

fieldset {
 padding: len;
 font: 80% sans-serif;	
}

legend {
	font-weight: bold;
	color: navy;
}

label {
	display: inline-block;
	display: inline;
	zoom:1;
	padding-top: 5px;
	text-align: right;
	width: 140px;
	font-weight: bold;
	
}

txt {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	display: inline;
	zoom:1;
	vertical-align: middle;
	margin-left: 20px;
	
}

h2 {
	color: orange;
}

postar {
	
	float: left;
	margin-left: 200px;
	margin-top: 2cm;
	text-align: right;
	font-weight: bold;
	
}

div form {
	
	width: 60%;
}

div.message{
	color:green;
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
}